# MariaDB (local development)
MYSQLHOST=localhost
MYSQLPORT=3306
MYSQLDATABASE=
MYSQLUSER=
MYSQLPASSWORD=

# The seeded user
ModeratorEmail=moderator67@fakemail.com
ModeratorPassword=Test1234!aaaaaaa
ModeratorUsername=Moderator67

JwtSecret=
JwtIssuer=
JwtAudience=

# Optional: root password (only for container init)
MYSQL_ROOT_PASSWORD=

# ASP.NET
ASPNETCORE_ENVIRONMENT=Development